.FollowersIcon {
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  fill: #3a1b14;
}

.ViewsIcon {
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  fill: #3a1b14;
}

.LikesIcon {
  height: 14px;
  margin-left: 10px;
  margin-right: 10px;
  fill: #3a1b14;
}
